<a href="https://colab.research.google.com/github/manou141/2022-PROJECTS/blob/main/REQUETTESQLITE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sqlite3
from sqlite3 import Error

try:
    conn = sqlite3.connect("/content/sample_data/DB_Exemple.db")
except Error as e:
    print(e)
else:
    print("Connexion établie avec succès")

select_pistes_query = """
SELECT 
      trackid,
      tracks.name AS Track,
      albums.title AS Album,
      artists.name AS Artist
FROM 
    tracks
INNER JOIN albums ON albums.albumid = tracks.albumid
INNER JOIN artists ON artists.artistid = albums.artistid
WHERE
    artists.artistid = 10;
"""
try:
    cursor = conn.cursor()
    cursor.execute(select_pistes_query)
    for row in cursor.fetchall():
        print(row)
except Error as er:
    print(er)

Connexion établie avec succès
(123, 'Quadrant', 'The Best Of Billy Cobham', 'Billy Cobham')
(124, "Snoopy's search-Red baron", 'The Best Of Billy Cobham', 'Billy Cobham')
(125, 'Spanish moss-"A sound portrait"-Spanish moss', 'The Best Of Billy Cobham', 'Billy Cobham')
(126, 'Moon germs', 'The Best Of Billy Cobham', 'Billy Cobham')
(127, 'Stratus', 'The Best Of Billy Cobham', 'Billy Cobham')
(128, 'The pleasant pheasant', 'The Best Of Billy Cobham', 'Billy Cobham')
(129, 'Solo-Panhandler', 'The Best Of Billy Cobham', 'Billy Cobham')
(130, 'Do what cha wanna', 'The Best Of Billy Cobham', 'Billy Cobham')

In [21]:
import sqlite3
from sqlite3 import Error

try:
    conn = sqlite3.connect("/content/sample_data/DB_Exemple.db")
except Error as e:
    print(e)
else:
    print("Connexion établie avec succès")

select_nb_pistes_par_album_query = """
SELECT 
      tracks.albumid,
      title,
      COUNT(trackid) as nombrePiste
FROM 
    tracks
INNER JOIN albums ON albums.albumid = tracks.albumid
GROUP BY
  tracks.albumid
  ORDER BY nombrePiste DESC
  LIMIT 15;
"""
try:
    cursor = conn.cursor()
    cursor.execute(select_nb_pistes_par_album_query)
    for row in cursor.fetchall():
        print(row)
except Error as er:
    print(er)

Connexion établie avec succès
(141, 'Greatest Hits', 57)
(23, 'Minha Historia', 34)
(73, 'Unplugged', 30)
(229, 'Lost, Season 3', 26)
(230, 'Lost, Season 1', 25)
(251, 'The Office, Season 3', 25)
(83, 'My Way: The Best Of Frank Sinatra [Disc 1]', 24)
(231, 'Lost, Season 2', 24)
(253, 'Battlestar Galactica (Classic), Season 1', 24)
(24, 'Afrociberdelia', 23)
(228, 'Heroes, Season 1', 23)
(255, 'Instant Karma: The Amnesty International Campaign to Save Darfur', 23)
(51, "Up An' Atom", 22)
(224, 'Acústico', 22)
(250, 'The Office, Season 2', 22)

Connexion établie avec succès
no such column: TRACKS.ALBUMSID

In [ ]:
import sqlite3
from sqlite3 import Error

try:
    conn = sqlite3.connect("/content/sample_data/DB_Exemple.db")
except Error as e:
    print(e)
else:
    print("Connexion établie avec succès")

select_nb_factures_par_annee = """
SELECT 
  STRFTIME('%Y',InvoiceDate) InvoiceYear,
  COUNT (InvoiceId) InvoiceCount
FROM 
    invoices
GROUP BY
  InvoiceYear
ORDER BY 
  InvoiceYear;
"""
try:
    cursor = conn.cursor()
    cursor.execute(select_nb_factures_par_annee)
    for row in cursor.fetchall():
        print(row)
except Error as er:
    print(er)

In [28]:

import sqlite3
from sqlite3 import Error

try:
    conn = sqlite3.connect("/content/sample_data/DB_Exemple.db")
except Error as e:
    print(e)
else:
    print("Connexion établie avec succès")

select_albums_len_plus_6000000_query = """
SELECT 
 tracks.albumid,
 albums.title,
 SUM(milliseconds) AS length
FROM 
    tracks
    INNER JOIN albums ON albums.albumid = tracks.albumid
GROUP BY
  tracks.albumid
HAVING
  length > 6000000
ORDER BY 
  length DESC;
"""
try:
    cursor = conn.cursor()
    cursor.execute(select_albums_len_plus_6000000_query)
    for row in cursor.fetchall():
        print(row)
except Error as er:
    print(er)

Connexion établie avec succès
(229, 'Lost, Season 3', 70665582)
(253, 'Battlestar Galactica (Classic), Season 1', 70213784)
(230, 'Lost, Season 1', 64854936)
(231, 'Lost, Season 2', 63289631)
(228, 'Heroes, Season 1', 59780268)
(227, 'Battlestar Galactica, Season 3', 52787041)
(261, 'LOST, Season 4', 39468433)
(251, 'The Office, Season 3', 38317095)
(250, 'The Office, Season 2', 28636206)
(141, 'Greatest Hits', 15065731)
(73, 'Unplugged', 8113276)
(249, 'The Office, Season 1', 7975164)
(23, 'Minha Historia', 7875643)